# Игнорирование бинарных файлов
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Игнорирование тестовых данных
*.test
*.out

# Игнорирование логов
*.log

# Игнорирование конфигурации IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорирование файлов БД
*.db
*.db-shm
*.db-wal

# Игнорирование директории зависимостей Go
vendor/

# Игнорирование локальных конфигураций
.env
config.local.yaml

# Игнорирование локальных файлов Trivy
.trivy/

# Игнорирование директории временных файлов
tmp/ 
